colpensiones/wsdl/alterado/SvcDocumento_schema3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.colpensiones.gov.co/schemas/1.0/comun/errores" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.colpensiones.gov.co/schemas/1.0/comun/errores">

  <xs:element name="tipoEstadoEjecucion" type="tns:tipoEstadoEjecucion"></xs:element>

  <xs:complexType name="tipoEstadoEjecucion">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" nillable="true"></xs:element>
      <xs:element name="descripcion" type="xs:string" nillable="true"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>